body{
    margin: 0;
    width: 100%;
}

.title{
    background: purple;
    margin-top: 0;
}

h1{
    margin-top: 0;
    padding: 1em;
    color: white;
}

.profile-section{
    height: 22em;
    margin-left: 25px;
    background: #ebebee;
}
.profileSectionTitle{
    background: #2199f2;
    color: white;
    height: 25px;   
}

.caloriesRemainingText{
    font-size: 12px;
}

.caloriesTotalNumber{
    font-size: 50px;
    font-weight: bold;
    color: teal;
}

.profileSection-button{
    margin-top: 50px;
    margin-right: 10px;
    background-color:#29AB87;
}
h3{
    margin-top: 0;
    margin-left: 10px;
}

.row{
    border: 3px solid pink;
}

.data-section{
    border: 2px solid purple;
}

.col-md-8 .col-md-6{
    margin-top: 0;
    padding: 0;
}

.img-column{
    width: 175px;
    height: 200px;
    background-image: url('profile.jpeg');
}

.jumbotron{
    background: teal;
    padding: 0;
}

.container .jumbotron, .container-fluid .jumbotron{
    padding-left: 10px;
    padding-right: 10px;
}

button{
    height: 25px;
    width: 100px;
    border-radius: 12px;
    color: white;

}
