body{
    margin: 0;
    width: 100%;
}

.title{
    background: purple;
    margin-top: 0;
}

h1{
    margin-top: 0;
    padding: 1em;
    color: white;
}

.profile-section{
    height: 22em;
    margin-left: 25px;
    background: #ebebee;
}
.profileSectionTitle{
    background: #2199f2;
    color: white;
    height: 35px;  
    padding-top: 5px;
    font-weight: bold;
    margin-bottom: 15px;
}

.caloriesRemainingText{
    font-size: 12px;
}

.caloriesTotalNumber{
    font-size: 50px;
    font-weight: bold;
    color: teal;
}

.profileSection-button{
    margin-top: 50px;
    margin-right: 10px;
    background-color:#29AB87;
}
h3{
    margin-top: 0;
    margin-left: 10px;
}

.col-md-8 .col-md-6{
    margin-top: 0;
    padding: 0;
}

.img-column{
    width: 175px;
    height: 200px;
    background-image: url('profile.jpeg');
}


.container .jumbotron, .container-fluid .jumbotron{
    padding-left: 15px;
    padding-right: 10px;
}

button{
    height: 25px;
    width: 100px;
    border-radius: 12px;
    color: white;

}

.jumbotron{
    padding: 0;
}

.quick-add-title{
    margin-left: 10px;
    font-weight: bold;
    padding-top: 5px;
    font-size: 20px;
    color: #2199f2;
}

.quick-add-row{
    padding: 10px;
}

.quick-add-row-button{
    padding: 7px;
}

.quick-add-button{
    background-color: #29AB87;
}
